
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
i, b {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
}
.clr:after, .clr:before {
  content: "";
  display: table;
}
.clr:after {
  clear: both;
}
.clr {
  *zoom: 1;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.center {
  text-align: center;
}

