@charset "UTF-8";

.nav{
  background: #337AB7;
  margin-top: 10px;
  padding: 15px 10px;
  a{
    color: #fff;
    transition: color 0.1s;
    &:hover,&.active{
      color: #F0AD78;
    }
  }
  .nav-lef{
    float: left;
    a{
      margin-right: 30px;
    }
  }
  .nav-right{
    float: right;
    a{
      margin-left: 30px;
    }
  }
}